<!DOCTYPE html>
<html lang="eng"
<head>
<title>CSS</title>
    <style>
        p{
            color: aquamarine;
            font-weight: bold;
            font-size: 20px;
            background-color: black;
        }
        h1{
            color: red;
            text-decoration: underline;
            font-size: 50px;
        }
    </style>

</head>
<body>
  {
    background color:read;
    ::-webkit-textfield-decoration-container
}font-size:50px


   
</li>
</ul>
</body>
</html>